@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

:root{
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue:  hsl(218, 44%, 22%);
}

body{
  --light-gray: hsl(212, 45%, 89%);
  --outfit-font: "Outfit", sans-serif;
  background-color: var(--light-gray);
  font-size: 15px;
  font-family: var(--outfit-font);
}

main{
    width:100%;
}

/* Card */

.card{
    --box-shadow: 20px 20px 60px var(--light-gray),
    -20px -20px 60px var(--light-gray);
    --white:hsl(0, 0%, 100%);
    background-color: var(--white);
    width:220px;
    height:auto;
    margin: 150px auto;
    padding:10px;
    border-radius:10px;
    box-shadow: var(--box-shadow);

}

.figure-container img{
    width:100%;
    height:auto;
    display:block;
    border-radius:10px;
}

.card-content{
    width:100%;
    padding:2px 0;
    margin-top:10px
}

.card-content h2{
  font-size: 1rem;
  min-width:18ch;
  text-align:center;
  font-weight:700;
  color:var(--dark-blue);
}

.card-content p{
    color:var(--grayish-blue);
    width:25ch;
    font-weight: 400;
    margin: 10px auto;
    text-align: center;
    font-size: 0.71rem;
}

/* Attribution */
.attribution{
    color:var(--grayish-blue);
    text-align:center;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0 10px; 
}

.attribution a{
    list-style: none;
    text-decoration: none;
    border-bottom:1px solid transparent;
    transition: border-color 200ms ease-in-out;
}

.attribution a:first-child, 
.attribution a:last-child{
    color: var(--dark-blue);
}

.attribution a:first-child:hover, 
.attribution a:last-child:hover{
   border-color: var(--dark-blue)
}

