// GOOGLE FONT IMPORT
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

// FONT
$font-inter: "Inter", sans-serif;

// COLORS
$soft-orange: hsl(35, 77%, 62%);
$doft-red: hsl(5, 85%, 63%);
$off-white: hsl(36, 100%, 99%);
$grayish-blue: hsl(233, 8%, 79%);
$dark-grayish-blue: hsl(236, 13%, 42%);
$very-dark-blue: hsl(240, 100%, 5%);

// CSS RESET
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

// GLOBAL
.show {
  opacity: 1;
  pointer-events: auto;
  transform: translateX(0);
}

.not-show {
  opacity: 0;
  pointer-events: none;
  transform: translateX(100%);
}

// BODY

body {
  font-family: $font-inter;
  background-color: $off-white;
}

// CONTAINER
.container {
  display: grid;
  width: 100%;
  max-width: 1400px;
}

// HEADER

header {
  position: relative;
  padding: 24px 12px;
  nav {
    display: flex;
    justify-content: space-between;
    figure > img {
      width: 50px;
    }

    .open-menu,
    .close-menu {
      border: none;
      background-color: transparent;
      cursor: pointer;
    }

    .overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 1000;
      transition: opacity 0.2s ease-in-out 0.1s;
    }

    .menu-opened {
      background-color: $off-white;
      position: fixed;
      top: 0;
      right: 0;
      padding: 14px;
      width: 76%;
      max-width: 400px;
      min-height: 100vh;
      z-index: 1001;
      transition: opacity 0.2s ease-in-out 0.1s, transform 0.2s ease-in-out 0.1s;

      .close-menu {
        position: absolute;
        top: 1rem;
        right: 1rem;
      }

      ul > li {
        list-style-type: none;
        padding: 0.9rem;
        margin-top: 1.5rem;
        position: relative;
        top: 5rem;
        a {
          text-decoration: none;
          color: $dark-grayish-blue;
          font-weight: 600;

          &::after {
            content: "";
            position: absolute;
            left: 14px;
            bottom: 7px;
            width: 0;
            height: 2px;
            background-color: $dark-grayish-blue;
            transition: width 300ms ease-in-out 0.1s;
          }

          &:hover::after {
            width: 100%;
          }
        }
      }
    }
  }
}

// MAIN
main {
  padding: 12px;
  .web-3-content {
    figure > img {
      width: 100%;
    }

    .web-3-content-article {
      padding-top: 1rem;
      h2 {
        color: $very-dark-blue;
        font-size: 2.6rem;
      }

      p {
        color: $dark-grayish-blue;
        font-size: 1.1rem;
        line-height: 1.8rem;
        font-weight: 500;
      }

      h2,
      p {
        padding-bottom: 1rem;
      }

      .web-3-cta {
        padding: 1rem;
        color: $off-white;
        background-color: $doft-red;
        border: none;
        width: 190px;
        height: 50px;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 0.2rem;
        cursor: pointer;
      }
    }
  }

  .new-content {
    background-color: $very-dark-blue;
    padding: 1rem;
    margin-top: 4rem;

    .new-content-heading {
      color: $soft-orange;
      font-size: 2rem;
    }

    .new-content-article {
      position: relative;
      padding-top: 2rem;
      padding-bottom: 3rem;
      h2 {
        color: $off-white;
        font-size: 1.4rem;
      }

      p {
        color: $grayish-blue;
        padding-top: 0.8rem;
      }

      &:not(:last-child):after {
        content: "";
        position: absolute;
        padding-top: 2.2rem;
        border-bottom: 1px solid $grayish-blue;
        width: 100%;
      }
    }
  }

  .rated-content {
    padding-top: 5rem;

    article {
      display: flex;
      padding-bottom: 3rem;
      gap:12px;
      figure {
        flex-shrink: 1;
        width:130px;
        img {
          width: 100%;
        }
      }

      .rated-content-text {
        padding-bottom: 1.2rem;
        flex-shrink: 2;
        h2 {
          color: $grayish-blue;
          font-size: 2rem;
        }
        h3 {
          font-size: 1.2rem;
          color: $very-dark-blue;
        }
        p {
          color: $dark-grayish-blue;
          font-size: 1.1rem;
          max-width: 270px;
        }

        h3,
        p {
          padding-top: 0.75rem;
        }
      }

      @media screen and (max-width: 345px) {
        flex-wrap: wrap;
        figure {
          width: 100%;
        }
      }
    }
  }
  .web-3-content > figure > img,
  .rated-content > article > figure > img,
  .web-3-content-article h2,
  .web-3-content-article p,
  .new-content {
    max-width: 600px;
  }
}
