// GOOGLE FONT IMPORT
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,400;0,600;1,400;1,600&display=swap");

// Fonts MIXINS
@mixin bai-jamjuree-regular {
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@mixin bai-jamjuree-semibold {
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 600;
  font-style: normal;
}

@mixin bai-jamjuree-regular-italic {
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 400;
  font-style: italic;
}

@mixin bai-jamjuree-semibold-italic {
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 600;
  font-style: italic;
}

// COLOR

$strong-cyan: hsl(171, 66%, 44%);
$light-blue: hsl(233, 100%, 69%);
$dark-grayish-blue: hsl(210, 10%, 33%);
$grayish-blue: hsl(201, 11%, 66%);
$whiteish-blue-subtle: hsla(202, 11%, 66%, 0.158);
$white: hsl(0, 0%, 100%);

// CSS RESET

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

// MIXINS

@mixin glowing-shadow($color) {
  box-shadow: 0 0 10px $color;
}

@mixin ctaButtons() {
  .cta {
    @include flexColumnCentered();
    padding: 3rem 10px;

    .mac {
      background-color: $light-blue;

      &:hover {
        @include glowing-shadow($light-blue);
      }
    }

    .iOS {
      background-color: $strong-cyan;

      &:hover {
        @include glowing-shadow($strong-cyan);
      }
    }

    .mac,
    .iOS {
      padding: 17px;
      margin-bottom: 15px;
      width: 100%;
      max-width: 280px;
      border-radius: 50px;
      border: none;
      color: $white;
      font-size: calc(1rem + 0.2vw);
      box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2),
        0px 0px 5px rgba(255, 255, 255, 0.5);
      cursor: pointer;

      &:hover {
        transform: translateY(-2px);
      }
    }
  }
}

@mixin flexColumnCentered {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin flexRowCentered {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

// BODY
body {
  @include bai-jamjuree-regular();
  background-color: #fdfdfd;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

// MAIN

main {
  position: relative;
  @include flexColumnCentered();
  width: 100%;
  flex-grow: 1;

  h2,
  h3 {
    @include bai-jamjuree-semibold();
    color: $dark-grayish-blue;
    font-size: 1.8rem;
    width: calc(100% + 0.2vw);
    max-width: 300px;
  }

  p {
    padding-top: 1rem;
    line-height: 1.5rem;
    max-width: 313px;
    color: $grayish-blue;
  }

  h2,
  h3,
  p {
    text-align: center;
  }

  figure {
    padding: 30px;
    margin-top: 2rem;

    img {
      width: calc(100% + 0.2vw);
      max-width: 400px;
    }
  }

  .container {
    margin-top: 6rem;
  }

  .hero {
    position: relative;
    width: 100%;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 50%;
      background: url("./images/bg-header-mobile.png") no-repeat center/cover;
      z-index: -1;
    }

    .hero-content {
      @include flexColumnCentered();
      text-align: center;

      figure {
        img {
          width: 100%;
          max-width: 126px;
        }
      }

      h2 {
        @include bai-jamjuree-semibold();
        max-width: 270px;
        color: $dark-grayish-blue;
        margin-top: 3rem;
        font-size: 1.7rem;
      }

      p {
        max-width: 316px;
        margin-top: 1rem;
        padding: 0 12px;
        font-size: 0.95rem;
        color: $grayish-blue;
        line-height: 1.5rem;
      }
    }

    @include ctaButtons();
  }

  .snippets-content {
    @include flexColumnCentered();

    .snippets-content-col-2 {
      @include flexColumnCentered();

      .snippets-content-col-1 {
        article {
          margin-top: 2rem;
        }
      }
    }
  }

  .clipboard-access-content {
    @include flexColumnCentered();

    h2 {
      text-transform: capitalize;
    }
  }

  .workflow-article {
    figure {
      @include flexColumnCentered();

      img {
        max-width: 60px;
      }
    }

    .article-card {
      @include flexColumnCentered();
    }
  }

  .company-logos {
    @include flexColumnCentered();
  }

  .clipboard-iOS-mac {
    .clipboard-iOS-mac-content {
      @include flexColumnCentered();
    }

    @include ctaButtons();
  }

  .snippets,
  .clipboard-access,
  .workflow,
  .company,
  .clipboard-iOS-mac {
    padding: 0 10px;
    margin-top: 5rem;
    margin-bottom: 2rem;
  }
}

// FOOTER
footer {
  background-color: $whiteish-blue-subtle;
  padding: 5rem 0;
  text-align: center;

  figure {
    img {
      max-width: 60px;
    }
  }

  ul {
    li {
      list-style: none;
      margin: 2rem;

      a {
        text-decoration: none;
        color: $grayish-blue;
        font-size: 1.1rem;
        font-weight: bold;
        transition: all 100ms ease-in-out 0.1s;

        &:active,
        &:hover,
        &:focus-visible {
          color: $strong-cyan;
        }
      }
    }
  }

  .socials {
    @include flexRowCentered();
    margin-top: 5rem;
    gap: 30px;

    a {
      svg {
        path {
          transition: all 100ms ease-in-out;
          &:active,
          &:hover,
          &:focus-visible {
            fill: $strong-cyan;
          }
        }
      }
    }
  }
}

// MEDIA QUERY (Desktop)

@media only screen and (min-width: 1024px) {
  main {
    h2,
    h3 {
      max-width: 500px;
    }

    .clipboard-iOS-mac,
    .hero {
      .cta {
        @include flexRowCentered();

        .iOS,
        .mac {
          padding: 14px;
          margin-bottom: 15px;
          width: 100%;
          max-width: 212px;
          margin-left: 1.2rem;
        }
      }
    }

    .container {
      margin-top: 2rem;
    }

    .hero {
      &::before {
        height: 100%;
        background: url("./images/bg-header-desktop.png") no-repeat center/cover;
      }

      .hero-content {
        figure {
          padding: 0;
          margin-top: 3rem;

          img {
            max-width: 80px;
          }
        }

        h2 {
          max-width: 500px;
        }

        p {
          max-width: 535px;
        }
      }
    }

    .snippets {
      padding: 0;
      width: 100%;

      .snippets-content {
        h2 {
          max-width: 500px;
        }

        p {
          max-width: 608px;
        }
      }

      .snippets-content-col-2 {
        @include flexRowCentered();
        justify-content: flex-start;
        gap: 3.5rem;
        width: 100%;

        figure {
          padding: 0;
          margin-left: -26px;
          flex: 3;

          img {
            max-width: calc(750px + 20vw);
          }
        }

        .snippets-content-col-1 {
          position: relative;
          bottom: 2rem;
          flex: 3;

          article {
            margin-top: 1rem;
            margin-bottom: 1.5rem;

            h3 {
              font-size: 1.2rem;
            }

            p {
              max-width: 341px;
              padding-top: 4px;
            }

            h3,
            p {
              text-align: start;
            }
          }
        }
      }
    }

    .clipboard-access-content {
      h2 {
        max-width: 500px;
      }

      p {
        max-width: 592px;
      }

      figure {
        img {
          max-width: 100%;
        }
      }
    }

    .workflow-content {
      @include flexColumnCentered();

      h2 {
        max-width: 500px;
      }

      p {
        max-width: 400px;
      }
    }

    .workflow-article {
      @include flexRowCentered();
      align-items: baseline;
      gap: 3rem;

      .article-card {
        figure > img {
          max-width: 45px;
        }

        h2 {
          font-size: 1.5rem;
        }

        p {
          max-width: 351px;
        }
      }
    }

    .company-logos {
      @include flexRowCentered();
      gap: 2rem;
    }

    .clipboard-iOS-mac {
      .clipboard-iOS-mac-content {
        p {
          max-width: 597px;
        }
      }
    }
  }

  footer {
    display: flex;
    padding: 2rem;
    align-items: flex-start;
    justify-content: space-around;
    height: 150px;
    figure > img {
      max-width: 45px;
    }

    figure, .socials{
      align-self: center;
    }

    div:not(:last-child){
      position: relative;
      top:1rem;
      display:flex; 
      gap:6rem;
    }

      ul {
        @include flexColumnCentered();
        align-items: flex-start;
        gap: 0.5rem;

        li {
          margin: 0;
        }
      }
    
    .socials {
      margin-top: 0rem;
    }
  }
  }
