/* IMPORT GOOGLE FONT */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  /* FONT */
  --font-rubik: "Rubik", sans-serif;

  /* COLORS */

  /* Primary */
  --moderate-blue: hsl(238, 40%, 52%);
  --soft-red: hsl(358, 79%, 66%);
  --light-grayish-blue: hsl(239, 57%, 85%);
  --pale-red: hsl(357, 100%, 86%);

  /* Neutral */
  --dark-blue: hsl(212, 24%, 26%);
  --grayish-blue: hsl(211, 10%, 45%);
  --light-gray: hsl(223, 19%, 93%);
  --very-light-gray: hsl(228, 33%, 97%);
  --white: hsl(0, 0%, 100%);
}
/* CSS RESET */
html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

*::before,
*::after {
  box-sizing: inherit;
}

/* BODY */
body {
  background-color: var(--very-light-gray);
  font-family: var(--font-rubik);
  position: relative;
}

main {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  flex-direction: column;
  padding:20px;
}
/* Card */

.card {
  display: flex;
  flex-direction: column;
  width: 90vw;
  max-width: 100%;
  position: relative;
  background-color: var(--white);
  padding: 12px;
  border-radius: 5px;
  margin-top: 14px;
}

.profile-section {
  order: -1;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 7px;
}

.profile-section img {
  width: 35px;
  height: 35px;
  margin: 5px;
}

.profile-section .profile-username {
  font-weight: 600;
  color: var(--dark-blue);
}
.profile-section .profile-username,
.profile-section .profile-date-posted  {
  font-size: clamp(0.7rem, 2vw + 0.2rem, 1rem);
}

.comment-p {
  order: 1;
  width: calc(100% - 20px);
  min-width: calc(200px + 10%);
  max-width: calc(400px - 10%);
  padding-bottom: 20px;
  margin-left:3px;
}

.comment-p,
.profile-section .profile-date-posted {
  color: var(--grayish-blue);
}

.score-section {
  width: 85px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--light-gray);
  padding: 8px;
  border-radius: 5px;
  order: 2;
}

.score-section span {
  font-weight: 500;
  padding: 0 8px;
}

.score-section svg:last-child {
  position: relative;
  top: 3px;
}

.btn-container {
  position: absolute;
  width: 80px;
  bottom: 20px;
  right: 0;
}

.auth-btn-container{
  display:flex;
  position: absolute;
  width:55px;
  bottom:20px;
  right:70px;
  gap:8px;
}

.btn-container .reply-btn,
.auth-btn-container .delete-btn,
.auth-btn-container .edit-btn {
  background-color: transparent;
  border: none;
  font-weight: bold;
  display: flex;
  gap: 10px;
}


.btn-container .reply-btn svg,
.auth-btn-container .delete-btn svg,
.auth-btn-container .edit-btn svg {
  order: -1;
}

.score-section svg,
.btn-container .reply-btn,
.auth-btn-container .delete-btn,
.auth-btn-container .edit-btn {
  cursor: pointer;
}

.score-section span,
.btn-container .reply-btn,
.auth-btn-container .delete-btn,
.auth-btn-container .edit-btn {
  color: var(--moderate-blue);
}

.auth-btn-container .delete-btn,
.auth-btn-container .edit-btn {
  flex-direction: row;
}


.auth-tag{
  background-color:var(--moderate-blue);
  color: var(--light-gray);
  padding:1px 5px;
  border-radius:2px;
}

/* Modal */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  z-index: 1; 
}

.modal{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  background-color: var(--white);
  min-width:250px;
  max-width:350px;
  padding:20px;
  border-radius: 5px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.modal.show{
  opacity: 1;
}

.modal-heading{
  font-size: 1.2rem;
  color:var(--dark-blue);
  font-weight: 500;
}

 .modal-description{
  padding-top:10px;
  max-width:300px;
  color:var(--grayish-blue);
  line-height: 1.4rem;
  font-size: 0.9rem;
}

.modal-btn-container{
  padding-top:12px;
  display: flex;
  gap:20px;
}

.modal-btn-container button{
  text-transform: uppercase;
  width:110px;
  height:35px;
  padding:5px;
  border:none;
  border-radius:5px;
  font-weight: bold;
  cursor: pointer;
}

.modal-btn-container .cancel-btn{
  background-color: var(--grayish-blue);
  color:var(--white);
}
.modal-btn-container .delete-btn{
  background-color: var(--soft-red);
  color:var(--white);
}


.write-comment{
  padding:10px;
  margin-top:20px;
  background-color: var(--white);
  border-radius: 5px;
}
.comment-form{
  width:100%;
}
.comment-form .comment{
  width:100%;
  resize: none;
  border:1px solid var(--light-gray);
  border-radius:5px;
  padding:10px;
  color:var(--moderate-blue);
  font-weight: 600;
  font-size: 1rem;
}
.comment-form .comment:focus-within{
  background-color: var(--light-gray);
  outline-color: var(--grayish-blue);
}

.comment-form .comment::placeholder{
  font-weight: 500;
  font-size: 0.9rem;
}

.auth-comment-container{
  display:flex;
  justify-content: space-between;
  padding:5px 0;
}


.auth-comment-container img{
  width:35px;
  height:35px;
}
.auth-comment-container .send-btn{
  background-color: var(--moderate-blue);
  color:var(--white);
  border:none;
  border-radius: 5px;
  padding:5px;
  width:80px;
  text-transform: uppercase;
  font-weight: 500;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}