// GOOGLE FONT IMPORT
@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&display=swap");

// FONT
$font-commissioner: "Commissioner", sans-serif;

// COLORS
$moderate-cyan: hsl(176, 50%, 47%);
$dark-cyan: hsl(176, 72%, 28%);
$black: hsl(0, 0%, 0%);
$dark-gray: hsl(0, 0%, 48%);
$very-light-gray-white: hsl(0, 0%, 98%);
$light-gray: hsl(0, 0%, 81%);
$white: hsl(0, 0%, 100%);

// CSS RESET

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

// BODY

body {
  font-family: $font-commissioner;
  background-color: $very-light-gray-white;
  color: $black;
}

// MENUS TOGGLER
.expanded {
  opacity: 1;
  pointer-events: auto;
  transition: max-height 200ms ease-in, opacity 250ms ease-in,
    transform 300ms ease-in;
  max-height: 120px;
  transform: translateY(0);
}

.collapsed {
  transition: max-height 0.3s ease-out, 
    transform 0.3s ease-out;
  transform: translateY(-10px);
  opacity: 0;
  max-height: 0;
  pointer-events: none;
}

.show {
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.5s ease-in 0.1s, visibility 0.1s linear 0.1s;
}

.not-show {
  opacity: 0;
  pointer-events: none;
}

// MAIN

main {
  header {
    position: relative;
    background-image: url("/images/image-hero-mobile.jpg");
    background-size: cover;
    min-height: 46vh;

    .primary-nav {
      width: 100%;
      max-width: 1200px;
      padding: 30px;
      position: relative;
      display: flex;
      justify-content: space-between;

      .logo {
        img {
          width: 150px;
        }
      }

      .mobile-nav {
        button {
          background-color: transparent;
          border: none;
          cursor: pointer;

          svg {
            width: 25px;
            height: 25px;
            path {
              transform: scale(1.5);
            }
          }
        }
      }

      .desktop-nav {
        display: none;
      }
    }

    .overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 1;
    }

    .secondary-nav {
      background-color: $very-light-gray-white;
      border-radius: 15px;
      margin: 0 25px;
      box-shadow: 0 12px 12px rgba(0, 0, 0, 0.233);
      ul {
        li {
          position: relative;
          list-style: none;
          padding: 32px 0;
          a {
            position: relative;
            bottom: 0.8rem;
            text-decoration: none;
            color: $black;
            font-size: 1.2rem;
            padding: 0 25px;
            font-weight: bold;
          }
          &:not(:last-child)::after {
            content: "";
            position: absolute;
            margin-top: 4.4rem;
            top: 0;
            left: 0;
            width: 100%;
            border-bottom: 1px solid $light-gray;
          }
        }
      }
    }

    .primary-nav,
    .secondary-nav {
      position: relative;
      z-index: 2;
    }
  }

  section {
    position: relative;
    background-color: $white;
    padding: 25px;
    width: 90%;
    max-width: 373px;
    border-radius: 5px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px auto;

    &.main-section {
      margin: -2rem auto;
      position: relative;

      figure {
        position: relative;
        img {
          position: absolute;
          bottom: 0;
          left: -1.5rem;
        }
      }

      p {
        color: $dark-gray;
        line-height: 1.6rem;
        font-weight: 500;
      }

      h1,
      p {
        text-align: center;
        padding-top: 1rem;
      }

      .main-section-cta {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 8px;
        margin-top: 1rem;
        margin-bottom: 10px;

        button {
          border: 1px solid transparent;
          background-color: $moderate-cyan;
          color: $very-light-gray-white;
          cursor: pointer;

          &:not(.bookmark) {
            width: 233px;
            height: 50px;
            border-radius: 30px;
            font-weight: bold;
          }

          &.bookmark {
            background-color: transparent;
            position: relative;
            bottom: 10px;

            svg {
              circle,
              path {
                transition: fill 0.4s ease;
              }
            }
          }
        }
      }
    }
  }

  .modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;

    .modal {
      position: relative;
      background-color: $very-light-gray-white;
      width: 95%;
      max-width: 500px;
      height: auto;
      border-radius: 5px;

      .modal-heading {
        padding: 20px 15px;
        font-size: 1.2rem;
      }

      .modal-paragraph {
        padding: 0 14px;
        color: $dark-gray;
        line-height: 1.5rem;
        width: 100%;
        max-width: 530px;
      }

      .modal-close {
        position: absolute;
        right: 1rem;
        top: 1.5rem;
        cursor: pointer;

        path {
          &:hover,
          &:active,
          &:focus-visible {
            fill: $black;
            opacity: 1;
          }
        }
      }

      .modal-card-container {
        border: 1px solid $light-gray;
        width: 85%;

        margin: 20px 15px;
        border-radius: 5px;

        .input-label-container {
          display: flex;
          gap: 20px;
          padding-inline: 20px;
          padding-top: 10px;

          &:hover {
            color: $moderate-cyan;

            .custom-radio input[type="radio"] {
              border: 1px solid $moderate-cyan;
            }
          }

          .inner-circle,
          input[type="radio"] {
            cursor: pointer;
          }

          .span-label{
            font-weight: bold;
            align-self: center;
            cursor: default;
          }

          .custom-radio {
            position: relative;
            .inner-circle {
              content: "";
              width: 12px;
              height: 12px;
              background-color: transparent;
              border-radius: 50%;
              position: absolute;
              top: 47%;
              left: 50%;
              transform: translate(-50%, -50%);
              transition: background-color 0.3s;
            }

            input[type="radio"] {
              appearance: none;
              -webkit-appearance: none;
              -moz-appearance: none;
              width: 25px;
              height: 25px;
              border: 1px solid $light-gray;
              border-radius: 50%;
              position: relative;

              &:checked + .inner-circle {
                background-color: $moderate-cyan;
              }
            }
          }
        }

        .backed-p {
          padding: 20px;
          color: $dark-gray;
          line-height: 1.5rem;
        }

        .pledge-content-container {
          position: relative;
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-bottom:1rem;
          &::before {
            content: "";
            position: absolute;
            width: 100%;
            border-bottom: 1px solid $light-gray;
          }
        }

        .pledge-content {
          display: flex;
          justify-content: space-between;
          width: 100%;
          padding: 0 18px;
        }

        .pledge-content-heading {
          margin-top: 1rem;
          font-size: 1rem;
          color: $dark-gray;
          font-weight: 500;
        }

        .pledge-input-container {
          position: relative;
          margin: 30px 0px;

          .dollar-sign {
            position: absolute;
            left: 5px;
            top: 14px;
            padding-left: 10px;
            color: $light-gray;
          }

          input[type="number"] {
            padding: 15px 25px;
            width: 93px;
            border-radius: 20px;
            border: 1px solid $light-gray;
            font-weight: bold;
            font-size: 1rem;
            text-align: center;
          }
        }
        .pledge-no-reward-cta,
        .pledge-amount-cta {
          align-self: center;
          width: 130px;
          height: 50px;
          border-radius: 20px;
          border: 1px solid $moderate-cyan;
          background-color: $moderate-cyan;
          color: $very-light-gray-white;
          font-weight: bold;
          cursor: pointer;
        }

        .pledge-content-no-reward{
          .pledge-no-reward-cta{
           position: relative;
           bottom:10px;
          }
        }
      }

      .pledge-completed-container{
        display:flex;
        flex-direction: column;
        align-items: center;
        padding:30px;
    
        .pledge-complete-description{
          padding-top:1rem;
          max-width: 390px;
          line-height: 1.7rem;
          text-align: center;
          color:$dark-gray;
          font-size: 1.15rem;
          font-weight: 450;
        }

        .close-completed-modal{
          background-color: $moderate-cyan;
          color:$very-light-gray-white;
          border:1px solid $moderate-cyan;
          border-radius:28px;
          margin:1.5rem 0;
          width:130px;
          height:60px;
          font-weight: bold;
          font-size: 1rem;
          cursor: pointer;
        }
      }
    }
  }
}

// MEDIA QUERY (TABLET / DESKTOP)

@media only screen and (min-width: 1024px) {
  main {
    header {
      background-image: url("/images/image-hero-desktop.jpg");

      .primary-nav {
        width: 100%;
        max-width: 1800px;
        padding: 25px;

        .mobile-nav {
          display: none;
          button {
            background-color: transparent;
            border: none;
            cursor: pointer;
          }
        }

        .desktop-nav {
          display: block;
          ul {
            display: flex;
            gap: 20px;
            li {
              list-style: none;
              padding: 10px 0;
              a {
                text-decoration: none;
                color: $very-light-gray-white;
                font-size: 1rem;
              }
            }
          }
        }
      }
    }
  }
}
