// GOOGLE FONT IMPORT
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap");

// FONT
$font-kumbh: "Kumbh Sans", sans-serif;

//  COLORS
$orange: hsl(26, 100%, 55%);
$orange-hover: hsla(26, 98%, 60%, 0.801);
$pale-orange: hsl(25, 100%, 94%);
$very-dark-blue: hsl(220, 13%, 13%);
$dark-grayish-blue: hsl(219, 9%, 45%);
$grayish-blue: hsl(220, 14%, 75%);
$light-grayish-blue: hsl(230, 60%, 98%);
$white: hsl(0, 0%, 100%);
// (with 75% opacity for lightbox background)
$black-lightbox: hsl(0, 0%, 0%);
$light-black-overlay: rgba(0, 0, 0, 0.5);
$box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);

// CSS RESET
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

// overlay
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $light-black-overlay;
  z-index: 10;
  transition: opacity 0.2s ease-in-out 0.1s;
}

// NAV MENU
.show {
  opacity: 1;
  pointer-events: auto;
  transform: translateX(0);
}

.not-show {
  opacity: 0;
  pointer-events: none;
  transform: translateX(-100%);
}

// MIXINS

@mixin ctaBtns() {
  padding: 10px;
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 55px;
  margin-bottom: 50px;
  text-align: center;
  background: $orange;
  border: 1px solid $orange;
  border-radius: 5px;
  font-size: 1.1rem;
  font-weight: 600;
  color: $very-dark-blue;
  box-shadow: $box-shadow;
  cursor: pointer;
  transition: background-color 0.2s ease-in 0.1s, border 0.2s ease-in 0.1s;

  &:hover {
    background-color: $pale-orange;
    border: 1px solid $pale-orange;
  }

  svg {
    path {
      fill: $very-dark-blue;
    }
  }
}

@mixin buttonNoBGNoBorder() {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@mixin expandBorderFromCenter() {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0px;
    width: 0;
    height: 3px;
    background-color: $orange;
    transition: width 0.3s ease-in, left 0.3s ease-in, right 0.3s ease-in;
  }

  &::before {
    left: 50%; /* Start from the middle */
    width: 0;
  }

  &::after {
    right: 50%; /* Start from the middle */
    width: 0;
  }

  &:active::before,
  &:hover::before,
  &:focus-visible::before {
    width: 50%;
    left: 0; /* Move the left element back to the left edge */
  }

  &:active::after,
  &:hover::after,
  &:focus-visible::after {
    width: 50%;
    right: 0; /* Move the right element back to the right edge */
  }
}

@mixin buttonContainer() {
  display: flex;
  justify-content: space-between;
  z-index: 3;
  position: relative;
  padding: 6px;
  width: 100%;

  button {
    margin: 50% 1%;
    background: transparent;
    border: none;
    cursor: pointer;
    &[id="prev-btn"] {
      position: relative;
      top: 16px;
    }
  }
}

// BODY

body {
  font-family: $font-kumbh;
  background-color: $white;
}

// NAVIGATIONS

header {
  position: relative;
  background-color: $white;
  box-shadow: $box-shadow;
  padding-bottom: 20px;
}
.menu {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  max-width: 1350px;

  @media screen and (max-width: 347px) {
    flex-wrap: wrap;
  }

  .cart-container {
    position: fixed;
    width: 290px;
    z-index: 10;
  }

  .empty-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 160px;
    color: $dark-grayish-blue;
    font-size: 1.2rem;
  }

  .cart-modal {
    position: absolute;
    background-color: $white;
    box-shadow: $box-shadow;
    width: 300px;
    max-width: 100%;
    height: auto;
    transition: all 0.3s ease-in 0.1s;
    top: 60px;
    left: -213px;
    border-radius: 5px;

    @media screen and (max-width:297px){
      width: 77%;
      left: -66px;
    }

    h2 {
      position: relative;
      font-size: 0.95rem;
      padding: 15px;
      &::after {
        content: "";
        position: absolute;
        border-bottom: 1px solid $light-grayish-blue;
        width: 100%;
        top: 55px;
        left: 0;
      }
    }

    &.not-show {
      transform: translateX(-28%);
    }
  }

  .photo-item-container {
    padding: 15px;
    display: flex;
    gap: 10px;
    figure {
      width: 20%;
      img {
        width: 100%;
        border-radius: 5px;
      }
    }
  }

  .product-description-container {
    .item-heading {
      color: $grayish-blue;
      font-size: 0.7rem;
    }
  }

  .price-description-container {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 0.85rem;
  }

  .discounted-pricing {
    padding-top: 5px;
    gap: 5px;
    color: $dark-grayish-blue;
  }
  .times,
  .quantity-value,
  .total-pricing {
    align-self: center;
    position: relative;
    top: 2px;
  }

  .times,
  .quantity-value {
    color: $dark-grayish-blue;
  }

  .total-pricing {
    color: $very-dark-blue;
    font-weight: bold;
  }

  .delete-cta {
    svg {
      width: 14px;
      height: 23px;
    }
  }

  .checkout-cta {
    @include ctaBtns();
    position: relative;
    top: 10px;
    width: 86%;
    margin-left: 14px;
    height: 45px;
  }
}

.desktop-menu {
  padding-left: 0.2rem;
  order: 1;
  display: none;
}

.nav-left,
.nav-right {
  display: flex;
  align-items: center;
  gap: 13px;

  button {
    @include buttonNoBGNoBorder();
    svg {
      width: 25px;
      height: 20px;
      path {
        transform: scale(1);
      }
    }
  }
}

.nav-left {
  position: relative;
  top: 5px;
  button > svg {
    padding-top: 5px;
  }

  @media screen and (max-width: 292px) {
    margin: 0 auto;
  }

  padding-left: 2px;
}

.nav-right {
  gap: 18px;
  padding-right: 4px;

  .add-to-cart {
    top: 5px;
  }

  @media screen and (max-width: 292px) {
    margin: 0 auto;
    padding-top: 0.5rem;
  }

  figure {
    border: 2px solid transparent;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    transition: border 0.3s ease-in 0.1s;
    cursor: pointer;
    &:hover {
      border: 2px solid $orange;
    }
  }
  .avatar {
    width: 35px;
  }
}

.add-to-cart {
  position: relative;

  .span-quantity {
    position: absolute;
    bottom: 15px;
    left: 8px;
    background-color: $orange;
    padding-inline: 6px;
    font-size: 0.7rem;
    color: $light-grayish-blue;
    border-radius: 15px;
    width: fit-content;
    text-align: center;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.3s ease-in 0.1s;
    &.show {
      opacity: 1;
    }
  }
}

.menu-opened {
  position: fixed;
  top: 0;
  left: 0;
  background-color: $white;
  padding: 10px;
  width: 60%;
  max-width: 400px;
  min-height: 100vh;
  z-index: 11;
  transition: opacity 0.2s ease-in 0.1s, transform 0.2s ease-in-out 0.1s;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.menu-opened ul > li {
  padding: 10px;
  list-style: none;

  .mobile-links {
    position: relative;
    color: $very-dark-blue;
    font-weight: bold;
    cursor: pointer;
    @include expandBorderFromCenter();
  }
}

.close-menu-btn {
  @include buttonNoBGNoBorder();
  padding: 10px;
}

// MAIN

.shoe-product {
  display: flex;
  flex-direction: column;
}



.shoes-product-gallery-container {
  order: -1;
}

.shoe-product-gallery {
  position: relative;

  @media screen and (max-width: 497px) {
    pointer-events: none;
}

  figure {
    // display: block;
    position: absolute;
    width: 100%;
    transition: opacity 0.3s ease-in-out 0.1s, transform 0.3s ease-in-out 0.1s;
    cursor: pointer;
    img {
      width: 100%;
      max-width: 1023px;
    }
  }
}

.shoe-product-gallery-preview {
  display: none;
}

.button-container {
  display: flex;
  justify-content: space-between;
  z-index: 3;
  position: relative;
  padding: 6px;
  width: 100%;
  button {
    margin: 27% 1%;
    background: transparent;
    border: none;
    cursor: pointer;
    &[id="prev-btn"] {
      position: relative;
      top: 2px;
    }
  }

  svg {
    background-color: $white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: $box-shadow;
  }
}

.shoe-product-information-container {
    margin-top: 50%;

  
  .product-company-header {
    color: $dark-grayish-blue;
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: 700;
  }

  .product-sneaker-header {
    color: $very-dark-blue;
    font-size: 2rem;
  }
  .product-description {
    color: $dark-grayish-blue;
    font-size: 1.1rem;
    line-height: 1.9rem;
    font-weight: 500;
  }

  .product-company-header,
  .product-sneaker-header,
  .product-description {
    padding-inline: 20px;
    padding-bottom: 10px;
  }
}



.price-container {
  display: flex;
  justify-content: space-between;
  padding-inline: 20px;
  gap: 10px;
  flex-wrap: wrap;
}

.price-discounted-container {
  display: flex;
  gap: 1.4rem;

  .discounted-price-header {
    font-size: 1.9rem;
    color: $very-dark-blue;
  }

  .product-discount-header {
    background-color: $very-dark-blue;
    color: $white;
    padding: 6px;
    border-radius: 5px;
    width: 49px;
    text-align: center;
  }

  .discounted-price-header,
  .product-discount-header,
  .product-full-price-header {
    align-self: center;
  }
}
.product-full-price-header,
.price-discounted-container {
  padding-top: 1px;
}

.product-full-price-header {
  padding-right: 20px;
  color: $dark-grayish-blue;
  text-decoration: line-through;
  font-size: 1.3rem;
}

.quantity-input-container {
  position: relative;
  padding: 20px;

  input[type="number"] {
    width: 100%;
    height: 60px;
    padding: 10px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    &::placeholder {
      text-align: center;
      color: $very-dark-blue;
      font-size: 1.2rem;
      font-weight: bold;
    }
    background: $light-grayish-blue;
    border: 1px solid $light-grayish-blue;
    border-radius: 10px;

    /* Remove spin buttons */
    appearance: textfield;
    -moz-appearance: textfield;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none; /* Remove spin buttons in WebKit browsers */
      margin: 0;
    }
  }
  button {
    background: transparent;
    border: none;
    cursor: pointer;
  }

  button[id="plus"],
  button[id="minus"] {
    svg {
      path {
        transition: fill 0.1s ease-in 0.1s;
      }
    }
    &:hover {
      svg {
        path {
          fill: $orange-hover;
        }
      }
    }
  }

  button[id="plus"] {
    position: absolute;
    right: 63px;
    top: 41px;
  }

  button[id="minus"] {
    position: absolute;
    left: 39px;
    top: 41px;
  }
}

.add-cart-cta-container {
  padding: 20px;
}

.add-to-cart-cta {
  @include ctaBtns();
  svg {
    path {
      fill: $very-dark-blue;
    }
  }
}

// MEDIA QUERY (TABLET / DESKTOP)

@media screen and (min-width: 497px) and (max-width: 1023px) {
  .cta-container {
    display: flex;
  }

  .quantity-input-container {
    flex: 1.5;
  }

  .add-cart-cta-container {
    flex: 1;
  }

  .shoe-product-gallery{
    pointer-events: none;
  }
}

@media screen and (min-width: 1024px) {
  .menu {
    button[id="open-menu"] {
      display: none;
    }
    .desktop-menu {
      display: flex;

      ul {
        display: flex;
        gap: 20px;
        padding-left: 20px;

        li {
          list-style: none;
        }

        .desktop-links {
          cursor: pointer;
          color: $grayish-blue;
          font-weight: 500;
          font-size: 0.9rem;
          position: relative;

          @include expandBorderFromCenter();

          &::before,
          &::after {
            content: "";
            top: 55px;
          }
        }
      }
    }
    .nav-left {
      display: flex;
      justify-content: flex-end;
      width: 559px;
    }
  }
  .shoe-product-gallery {
    display: flex;

    figure {
      position: unset;
      width: 436px;
      img {
        border-radius: 15px;
      }
    }
  }

  .shoe-product-gallery,
  .shoe-product-gallery-preview {
    justify-content: center;
  }

  .shoe-product-gallery-preview {
    position: relative;
    top: 2rem;
    display: flex;
    gap: 30px;
    figure {
      border-radius: 7px;
      cursor: pointer;
      height: 87px;
      width: 88px;
      img {
        transition: opacity 0.3s ease-in-out 0.1s;
        width: 85px;
        border-radius: 5px;
      }
    }
  }




  .shoe-product {
    display: grid;
    grid-template: 1fr / 44%;
    gap: 20px;
    margin-top: 6rem;
    max-width: 1550px;
    justify-content: center;
  }

  .button-container {
    display: none;
  }

  .shoe-product-information-container {
    margin-top:0;
    padding-top: 3rem;

    grid-area: 1 / 2 / span 1 / span 1;

    .product-company-header {
      font-size: 0.9rem;
    }

    .product-sneaker-header {
      max-width: 450px;
    }

    .product-description {
      font-size: 1rem;
      padding-top: 1.5rem;
      max-width: 500px;
    }
  }

  .price-container {
    justify-content: unset;
    flex-direction: column;
    gap: 5px;
  }

  .price-discounted-container {
    .product-discount-header {
      width: 45px;
      font-size: 1rem;
      padding: 4px;
    }
  }

  .product-full-price-header,
  .price-discounted-container {
    padding-top: 0px;
  }

  .product-full-price-header {
    font-size: 1.05rem;
  }

  .cta-container {
    display: flex;
    grid-area: 2 / 2 / span 1 / span 1;
    width: 540px;
    position: relative;
    bottom: 10rem;
  }

  .quantity-input-container input[type="number"] {
    width: 100%;
  }

  .quantity-input-container {
    flex: 1;

    button[id="plus"] {
      right: 36px;
      top: 44px;
    }
  }

  .add-cart-cta-container {
    flex: 1.5;
    button {
      width: 80%;
      font-size: 1rem;
    }
  }

  .lightbox-container {
    z-index: 10;
    position: fixed;
    display: flex;
    flex-direction: column;
    margin-left: 50%;
  }

  .lightbox-gallery {
    position: relative;
    figure {
      pointer-events: none;
      &:not(:first-child) {
        display: none;
      }
    }
  }

  .shoe-product-gallery-preview {
    figure {
      position: relative;

      &.active {
        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: hsla(0, 100%, 100%, 0.6);
          z-index: 1;
          border-radius: 5px;
        }
      }

      .figure-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.6);
        opacity: 0;
        transition: opacity 0.3s ease 0.1s;
        pointer-events: none;
        border-radius: 5px;
      }

      &:hover .figure-overlay {
        opacity: 1;
      }
    }
    figure[data-id*="light-image"] {
      width: 73px;
      height: 100%;
      img {
        width: 100%;
      }
    }
  }

  .lightbox-btn {
    display: flex;
    justify-content: space-between;
    button {
      border-radius: 50%;
      border: 1px solid $white;
      cursor: pointer;

      svg {
        width: 50px;
        height: 50px;

        &:hover {
          path {
            transition: stroke 0.3s ease-in 0.1s;
            stroke: $orange;
          }
        }
      }
    }

    button[id="prev-light-btn"] {
      position: absolute;
      top: 13rem;
      left: -20px;
      box-shadow: $box-shadow;
    }
    button[id="next-light-btn"] {
      position: absolute;
      top: 13rem;
      right: -20px;
      box-shadow: $box-shadow;
    }
  }
  .close-overlay-btn {
    @include buttonNoBGNoBorder();
    padding: 10px;
    align-self: flex-end;

    svg {
      path {
        transition: fill 0.3s ease-in 0.1s;
      }
    }

    &:hover {
      svg {
        path {
          fill: $orange;
        }
      }
    }
  }
}
