// GOOGLE FONT IMPORT
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");

// FONT
$font-league-spartan: "League Spartan", sans-serif;

// COLORS
$desaturated-dark-cyan: hsl(180, 29%, 50%);
//(Background)
$light-grayish-cyan: hsl(180, 52%, 96%);
//  (Filter Tablets)
$light-grayish-cyan: hsl(180, 31%, 95%);
$dark-grayish-cyan: hsl(180, 8%, 52%);
$dark-light-grayish-cyan: hsl(180, 15%, 67%);
$very-dark-grayish-cyan: hsl(180, 14%, 20%);

//  CSS RESET
html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  ::before,
  ::after {
    box-sizing: inherit;
  }
}
// MIXINS
@mixin newListings() {
  [class*="new"] {
    text-transform: uppercase;
    width: fit-content;
    height: 23px;
    padding: 6px;
    color: $light-grayish-cyan;
    border-radius: 10px;
    font-size: 0.85rem;
    font-weight: bold;
  }
}

// FILTERED CONTAINER
.show {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: opacity 0.3s ease-in, visibility 0.3s ease-in;
}

.not-show {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.3s ease-out, visibility 0.3s ease-in;
}

// BODY

body {
  background-color: $light-grayish-cyan;
  font-family: $font-league-spartan;
}

// HEADER
.header-banner {
  position: relative;
  figure {
    position: relative;
    background-color: #63baba;
    height: 170px;
  }
  svg {
    position: absolute;
    width: 300px;
    height: 170px;
    background-color: $desaturated-dark-cyan;
  }

  #dynamic-svg-desktop{
    display: none;
  }
}

.filter-result {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  width: 300px;
  background-color: #fff;
  z-index: 100;
  bottom: 0.95rem;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.06);
  z-index: 100;
  margin-bottom: 15px;
  border-radius: 5px;

  @media screen and (max-width: 297px) {
    transform: none;
    left: 0;
  }
}

.remove-btn-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;

  .remove-filter {
    padding: 10px 35px 10px 5px;
    position: relative;
    color: $desaturated-dark-cyan;
    background-color: $light-grayish-cyan;
    border: 1px solid $light-grayish-cyan;
    font-size: 0.9rem;
    font-weight: bold;
    text-align: start;
    border-radius: 5px;
    pointer-events: none;
    display: inline-flex;
    width: auto;
    white-space: nowrap;

    &::after {
      position: absolute;
      content: "";
      display: inline-block;
      width: 27px;
      height: 35px;
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14"><path fill="%23FFF" fill-rule="evenodd" d="M11.314 0l2.121 2.121-4.596 4.596 4.596 4.597-2.121 2.121-4.597-4.596-4.596 4.596L0 11.314l4.596-4.597L0 2.121 2.121 0l4.596 4.596L11.314 0z"/></svg>');
      background-size: 16px 16px;
      background-repeat: no-repeat;
      background-position: center;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      background-color: $desaturated-dark-cyan;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      pointer-events: auto;
      cursor: pointer;
      transition: background-color 0.3s ease-in;
    }
    &:active::after,
    &:hover::after,
    &:focus::after {
      background-color: $very-dark-grayish-cyan;
    }
  }
}

.clear-all-filters {
  background-color: transparent;
  border: transparent;
  color: $dark-grayish-cyan;
  font-weight: bold;
  font-size: 0.95rem;
  cursor: pointer;
  transition: all 0.1s ease-in;
  height: 20px;
  align-self: center;

  &:active,
  &:hover,
  &:focus {
    color: $desaturated-dark-cyan;
    text-decoration: underline;
  }
}

// MAIN

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  padding-bottom: 5rem;

  @media only screen and (max-width: 297px) {
    align-items: unset;
    margin-left: 10px;
  }
}

article {
  position: relative;
  top: 30px;
  background-color: #fff;
  width: 295px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.06);

  &[data-new-featured="true"]::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: $desaturated-dark-cyan;
    width: 5px;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  @media only screen and (max-width: 297px) {
    width: 280px;
  }
}

.listing-logo {
  position: absolute;
  top: -15px;
  left: 18px;
  img {
    width: 45px;
    height: 45px;
  }
}

.listing-header {
  padding-top: 1.2rem;
  padding-left: 2px;
  display: flex;
  gap: 10px;
  @include newListings();
  h2 {
    font-size: 1rem;
    color: $desaturated-dark-cyan;
    align-self: center;
    padding-top: 0.2rem;
  }

  .new-listing {
    background-color: $desaturated-dark-cyan;
  }
  .new-featured {
    background-color: $very-dark-grayish-cyan;
  }
}

.job {
  padding-top: 10px;

  h2 {
    font-size: 0.95rem;
    cursor: pointer;
    &:active,
    &:hover,
    &:focus-visible {
      color: $desaturated-dark-cyan;
    }
  }

  .job-description {
    padding-top: 10px;
    color: $dark-grayish-cyan;
    display: flex;
    gap: 10px;
    font-size: 1rem;
    font-weight: 500;
    position: relative;
  }

  .job-contract::before,
  .job-location::before {
    content: "";
    position: relative;
    bottom: 2px;
    display: inline-block;
    padding: 1px;
    width: 3px;
    height: 3px;
    background-color: $dark-light-grayish-cyan;
    border-radius: 50%;
    display: inline-block;
    margin-right: 6px;
  }

  &::after {
    content: "";
    position: absolute;
    background-color: $dark-light-grayish-cyan;
    width: 90%;
    height: 1px;
    margin-top: 0.5rem;
  }
}

.listings-filters {
  margin-top: 25px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  width: fit-content;

  button {
    cursor: pointer;
    background-color: $light-grayish-cyan;
    border: 1px solid $light-grayish-cyan;
    color: $desaturated-dark-cyan;
    font-weight: bold;
    font-size: 0.95rem;
    padding: 5px;
    border-radius: 5px;

    transition: background-color 0.3s ease-in, color 0.3s ease-in;

    &:active,
    &:hover,
    &:focus-visible {
      background-color: $desaturated-dark-cyan;
      color: $light-grayish-cyan;
    }
  }
}

// MEDIA QUERY (Desktop / Tablet)

@media screen and (min-width: 797px) {
  .header-banner {
    figure {
      height:157px;
      #dynamic-svg-mobile {
        display: none;
      }

      #dynamic-svg-desktop{
        display: block;
        width:100%;
        height:157px;
      }
    }
  }

  .filter-result{
    width:60%;
    left:unset;
    transform: unset;
    margin:0 auto;
  }

  main{

    article{
      width:60%;
      display:flex;
      justify-content: space-between;
      padding:13px;
      gap:20px;
    }

    .content-container{
      display: flex;
      gap:20px;
      padding-left:5px;
    }
   
    .job{

      .job-description{
        text-wrap: nowrap;
      }


      &::after{
        display:none;
      }
    }

    .listing-logo{
      position: relative;
      align-self: center;
      padding-top:3rem;
      left:unset
    }

    .listings-filters {
      align-self:center;
      // margin-inline: 200px;
      button{
      font-size: 0.8rem;
      padding: 4px;
      height: 25px;
      }
    }


  }


}
