// GOOGLE FONT IMPORT
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

// COLORS
$red: hsl(0, 78%, 62%);
$cyan: hsl(180, 62%, 55%);
$orange: hsl(34, 97%, 64%);
$blue: hsl(212, 86%, 64%);

$very-dark-blue: hsl(234, 12%, 34%);
$grayish-blue: hsl(229, 6%, 66%);
$very-light-gray: hsl(0, 0%, 98%);

// Font
$font-poppins: "Poppins", sans-serif;

// CSS RESET
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

// MIXINS
@mixin cardContainerBorder($color) {
  &::before {
    content: "";
    display: block;
    border-top: 4px solid $color;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}

// BODY

body {
  --red: #{$red};
  --cyan: #{$cyan};
  --orange: #{$orange};
  --blue: #{$blue};
  --very-dark-blue: #{$very-dark-blue};
  --grayish-blue: #{$grayish-blue};
  --very-light-gray: #{$very-light-gray};
  --font-poppins: #{$font-poppins};
  font-size: 15px;
  font-family: var(--font-poppins);
  background-color: var(--very-light-gray);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

// HEADER

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  width: 100%;
  padding: 6px;

  h1 {
    font-size: 1.4rem;
    font-weight: 200;
    color: var(--very-dark-blue);
  }

  h2 {
    color: var(--very-dark-blue);
    font-size: 1.4rem;
  }

  p {
    margin-top: 15px;
    text-align: center;
    max-width: 300px;
    line-height: 25px;
    font-weight: 300;
    color: var(--grayish-blue);
  }

  h1,
  h2 {
    text-align: center;
  }
}
// MAIN CONTENT

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  margin: 40px 0 50px 0;

  .card-container {
    position: relative;
    background-color: var(--very-light-gray);
    box-shadow: 2px 5px 20px var(--grayish-blue);
    padding: 25px;
    border-radius: 5px;
    margin: 5px;

    .card-content.header {
      h2 {
        color: var(--very-dark-blue);
      }

      p {
        color: var(--grayish-blue);
        font-weight: 400;
        max-width: 300px;
      }
    }
    figure {
      display: flex;
      justify-content: flex-end;

      img {
        margin-top: 20px;
        width: 20%;
        min-width: 50px;
      }
    }

    &.supervisor {
      @include cardContainerBorder(var(--cyan));
    }
    &.team-builder {
      @include cardContainerBorder(var(--red));
    }
    &.karma {
      @include cardContainerBorder(var(--orange));
    }
    &.calculator {
      @include cardContainerBorder(var(--blue));
    }
  }
}

// Footer
footer{
  background-color: var(--very-light-gray);
  box-shadow: 2px 5px 20px var(--grayish-blue);
  height:60px;
  padding:15px;


  p{
    text-align: center;
    color:var(--very-dark-blue);
    font-weight:bold;

    a{
      list-style: none;
      text-decoration: none;
      border-bottom:1px solid var(--cyan);
      color:var(--blue);
      transition: all 100ms ease-in-out 0.1s;

      &:hover{
        background-color:var(--cyan);
        padding:5px;
        color:var(--very-light-gray);
        border-radius:5px;
      }
    }
  }
}


// MEDIA QUERY

@media only screen and (min-width: 1024px) {
  header {
    p {
      max-width: 500px;
    }
  }

  main {
    flex-direction: row;
    justify-content: space-evenly;
    column-gap: 5px;
    width: 1024px;
    margin: 40px auto;

    .card-container-vertical {
      display: flex;
      flex-direction: column;
      row-gap: 14px;
    }
  }
}
