// GOOGLE FONT IMPORT
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

// FONTS
$font-plus-jakarta-sans: "Plus Jakarta Sans", sans-serif;

// COLORS
$white: hsl(0, 0%, 100%);
$very-light-grayish-blue: hsl(210, 60%, 98%);
$light-grayish-blue-1: hsl(211, 68%, 94%);
$light-grayish-blue-2: hsl(205, 33%, 90%);
$grayish-blue: hsl(219, 14%, 63%);
$dark-grayish-blue: hsl(219, 12%, 42%);
$very-dark-blue: hsl(224, 21%, 14%);
$red: hsl(1, 90%, 64%);
$blue: hsl(219, 85%, 26%);

// CSS RESET
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

// GLOBAL
.container {
  background-color: $white;
  max-width: fit-content;
  padding: 1.2rem;
  margin: 2rem;
  box-shadow: 0 12px 12px rgba(90, 90, 90, 0.2);
  border-radius: 10px;
}

// BODY

body {
  font-family: $font-plus-jakarta-sans;
  background-color: $very-light-grayish-blue;
}

// Notification header

.notification {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  gap: 0.5rem;
  flex-wrap: wrap;
  max-width: 768px;

  header {
    display: flex;
    gap: 15px;
    align-items: center;

    @media screen and (max-width: 347px) {
      font-size: calc(50% + 3vw);
      flex-wrap: wrap;
      justify-content: center;
    }

    .status-unread {
      padding: 3px;
      background-color: $blue;
      color: $white;
      width: 36px;
      height: 36px;
      text-align: center;
      font-weight: bold;
      border-radius: 5px;
      font-size: 1.4rem;
    }
  }

  .mark-read-btn {
    background-color: transparent;
    border: none;
    color: $dark-grayish-blue;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
  }

  @media screen and (max-width: 471px) {
    justify-content: center;
    .mark-read-btn {
      padding-top: 0.5rem;
    }
  }
}

// MAIN

.notifications {
  .notification-content {
    padding-top: 1rem;
    display: flex;
    gap: 1rem;
    width: 100%;
    max-width: 720px;

    &:has(.commented-img-container) {
      justify-content: space-between;
      @media screen and (max-width: 397px) {
        flex-wrap: wrap;

        .commented-figure {
          margin: 0.4rem auto;
        }
      }
    }

    .commented-img-container {
      display: flex;
      gap: 1rem;
    }

    &:not(:first-child) {
      margin-top: 1rem;
    }

    &[data-status="unread"] {
      background-color: $very-light-grayish-blue;
      padding: 15px;
      border-radius: 5px;
    }

    &[data-status="read"] {
      background-color: $white;
      padding: 15px;
      border-radius: 5px;
    }

    .notification-content-container {
      display: flex;
      flex-direction: column;
      gap: 0.2rem;

      .notification-message {
        border: 1px solid $light-grayish-blue-1;
        border-radius: 5px;
        padding: 1rem;
        margin-top: 1rem;
        width: 100%;
        max-width: 100%;
        color: $grayish-blue;
        font-weight: 600;
      }
    }

    figure > img {
      width: 48px;

      &[data-comment="picture"] {
        width: 41px;
      }
    }

    h2 {
      color: $very-dark-blue;
      font-size: 1.15rem;
      font-weight: 800;
      width: 100%;

      .notification-action {
        font-size: 1rem;
        color: $dark-grayish-blue;
        font-weight: 550;
      }

      span[data-post],
      span[data-group] {
        &:not(span[data-post]) {
          color: $blue;
        }
        font-size: 1.1rem;
        font-weight: 800;
      }
      span[data-post] {
        color: $dark-grayish-blue;
      }

      .notification-action,
      span[data-post],
      span[data-group] {
        padding-left: 0.3rem;
      }

      span[data-status="unread"] {
        display: inline-block;
        width: 10px;
        height: 10px;
        border: 1px solid $red;
        border-radius: 50%;
        background-color: $red;
        vertical-align: baseline;
        margin-left: 0.3rem;
      }
    }

    div[data-time] {
      color: $grayish-blue;
      font-weight: 500;
    }

    @media screen and (max-width: 347px) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;

      &[data-status="read"] {
        padding: 0;
      }

      .commented-img-container {
        flex-direction: column;
        align-items: center;
      }
    }
  }
}

// MEDIA QUERY (TABLET AND UP)
@media only screen and (min-width: 768px) {
  .container {
    margin: 1rem auto;
  }
}
