
// GOOGLE FONT IMPORT
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

// FONTS
$font-plus-jakarta-sans: "Plus Jakarta Sans", sans-serif;

// COLORS
$white: hsl(0, 0%, 100%);
$very-light-grayish-blue: hsl(210, 60%, 98%);
$light-grayish-blue-1: hsl(211, 68%, 94%);
$light-grayish-blue-2: hsl(205, 33%, 90%);
$grayish-blue: hsl(219, 14%, 63%);
$dark-grayish-blue: hsl(219, 12%, 42%);
$very-dark-blue: hsl(224, 21%, 14%);
$red: hsl(1, 90%, 64%);
$blue: hsl(219, 85%, 26%);




// CSS RESET
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}


// BODY

body{
  font-family: $font-plus-jakarta-sans;
  background-color: $white;
}


// Notification header

.notification{
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding:20px;
  flex-wrap:wrap;

  header{
    display:flex;
    gap:15px;
    align-items: center;

    .status-unread{
      padding:3px;
      background-color: $blue;
      color:$white;
      width:36px;
      height:36px;
      text-align: center;
      font-weight: bold;
      border-radius: 5px;
      font-size: 1.4rem;
    }
  }

  .mark-read-btn{

    background-color: transparent;
    border:none;
    color:$dark-grayish-blue;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
  }
  
  @media screen and (max-width:347px) {
    justify-content: center;
    .mark-read-btn{
      padding-top:0.5rem;
    }
  }
}


// MAIN